.navbar.navbar-default.navbar-fixed-top.navbar-inverse#nav
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/' style="position: relative; top: -1rem; left: -1rem;")
        img(src="/img/logo.png" style=" width: 8rem")
        span(style="position: relative; top: 0.25rem; left: 0.25rem;")= " myFoodFlyer"
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Deals This Week'?'active':undefined)
          a(href='/deals') myDeals
        li(class=title=='My Grocery List'?'active':undefined)
          a(href='/profile') myList
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout